body {
    font-family: Arial, Helvetica, sans-serif;
}

header,footer{
    background-color: #FFD966;
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

footer {
    font-size: 120%;
    
}
#lewy {
    float: left;
    background-color:#FFD966;
    width: 25%;
    height: 450px;
}
#prawy {
    float: right;
    background-color: #C5E0B4 ;
    width: 75%;
    height: 450px;
    text-align: center;
    box-shadow: 0 0 15px black inset; 
}

img {
    width: 320px;
}

table,th,tr {
    border: 1px solid black;
    border-collapse: collapse;
   
}
table {
    margin: auto;
    width: 70%;
}
ul,li {
    list-style-type: square;
    line-height: 1.5; 
}
a,h4 {
    color: seagreen;
}